*.keras
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.onnx
*.pb
*.tflite
*.venv
*.node_modules
*.env

# Ignore frontend node modules and build artifacts
frontend/node_modules/
frontend/dist/

# Ignore samplevideos
samplevideos/
